html{
  overflow: hidden;
  background: radial-gradient(circle, #77c9f2 0%, #1fd662 100%);
}
a{
  text-decoration: none;
}
#titulo{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  margin-bottom: 12%;
  color: #fff;
}
.menu{
  text-align: center;
  padding: 1em;
  background-color: #c882f5;
  border-radius: 10px;
  box-shadow: #737EFF 0px 0px 5px;
  transition: transform 1s ease-out;
}
.menu:hover{
  background-color: #E9C4FF;
}
.letra{
  font-family: 'Merriweather', serif;
  font-size: 2em;
  color: #fff;
}
#container{
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(1, minmax(250px, 500px));
  grid-template-rows: repeat(1, 4em);
  grid-auto-rows: 4em;
  justify-content: center;
}
