img{
  width: 270px;
}
div{
  text-align: center;
}
html{
  background: linear-gradient(to left, #3A14CC 0%, #B35A12 100%);
}
.pregunta{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: #19FF1F;
}
#titulo{
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  margin-bottom: 5%;
  color: #FFD024;
}
#container{
  display: grid;
  grid-gap: 4em;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 8em 35em;
  grid-auto-rows: 20%;
}
#zonaDestino_A{
  background-color: #E84F0C;
  grid-column: 1;
  grid-row: 2;
}
#zonaDestino_B{
  background-color: #E84F0C;
  grid-column: 3;
  grid-row: 2;
}
#class_A{
  background-color: #FF7100;
}
#Class_B{
  background-color: #FF7100;
  grid-column: 3;
}
#despliegue{
  background-color: #FF330D;
  grid-column: 2;
  grid-row: 2;
}
