:root{
  --zonas:#B433C8;
}
img{
  width: 270px;
}
div{
  text-align: center;
  justify-content: center;
  color: #fff;
}
html{
  background: radial-gradient(circle, #77c9f2 0%, #1fd662 100%);
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}
#titulo{
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  margin-bottom: 5%;
}
#container{
  display: grid;
  grid-gap: 4em;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 8em 35em;
  grid-auto-rows: 20%;
}
#zonaDestino_A{
  background-color: var(--zonas);
  grid-column: 1;
  grid-row: 2;
}
#zonaDestino_B{
  background-color: var(--zonas);
  grid-column: 3;
  grid-row: 2;
}
#A{
  background-color: #F196FF;
}
#B{
  background-color: #F196FF;
  grid-column: 3;
}
#despliegue{
  background-color: var(--zonas);
  grid-column: 2;
  grid-row: 2;
}
